/* TODO: Make the fieldset a bit better to look at */
.signupSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-3);
}

.signupSection form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signupSection fieldset {
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
  padding: var(--size-3);
}

.memberCode,
.adminCode {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  flex-direction: column;
}

.invalidUsername {
  color: red;
  font-weight: var(--font-weight-7);
}
