.menuBar ul {
  display: flex;
  justify-content: center;
  gap: var(--size-6);
  font-size: var(--font-size-3);
  padding: 0;
}

.menuBar li {
  list-style: none;
}

.menuBar a {
  padding: var(--size-3);
  background-color: var(--secondary);
  color: var(--text);
  border-radius: var(--radius-2);
  text-decoration: none;
}

.menuBar a:hover {
  cursor: pointer;
  filter: brightness(85%);
}

@media (width <= 640px) {
  .menuBar ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: var(--size-10);
  }

  .menuBar a {
    padding: var(--size-4);
  }
}
