.menuBar ul {
  display: flex;
  justify-content: center;
  gap: var(--size-6);
  font-size: var(--font-size-3);
}

.menuBar li {
  list-style: none;
}

.menuBar a {
  padding: var(--size-3);
  background-color: var(--secondary);
  color: var(--text);
  border-radius: var(--radius-2);
  text-decoration: none;
}

.menuBar a:hover {
  cursor: pointer;
  filter: brightness(85%);
}
