.message {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-3);
  margin: var(--size-2);
  background-color: var(--background);
  border: 4px solid var(--accent);
  border-radius: var(--radius-3);
}

.authorDetails {
  display: flex;
  justify-content: space-between;
}

.authorDetails time {
  color: grey;
}

.message .emptyButton {
  padding: 0;
  background-color: transparent;
}

.leftCorner {
  display: flex;
  align-items: center;
}
