.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-3);
  font-size: var(--font-size-3);
}

.loginSection form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.invalid {
  color: var(--red-7);
}
