:global(header),
:global(footer) {
  display: grid;
  place-items: center;
  padding: var(--size-1);
  font-size: var(--font-size-2);
}

@media (width <= 640px) {
  :global(header) {
    text-align: center;
    font-size: var(--font-size-0);
  }
}
