.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  gap: var(--size-4);
  padding: var(--size-4);
}

.homeContent ul {
  padding: 0;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  padding: var(--size-2);
  font-size: var(--size-4);
}

@media (width <= 640px) {
  .instructions {
    text-align: center;
    font-size: var(--size-3);
    max-width: 100%;
  }
}
