/* This just combines all the css together. Used in main.jsx */
@import url("https://unpkg.com/open-props");
@import url("./reset.css");
@import url("./colors.css");
@import url("./typography.css");

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
